<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head}"></head>
<body>


<div id="preloader">
    <div class="dorne-load"></div>
</div>


<header th:replace="~{fragment/header}"></header>

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/hero-3.jpg)"></div>

<section  class="dorne-listing-destinations-area section-padding-100-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading dark text-center">
                    <span></span>
                    <h4>Ooops! Something went wrong!</h4><br>
                    <h4>Please try AGAIN!</h4>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>



<footer th:replace="~{fragment/footer}"></footer>

</body>
</html>