<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head}"></head>
<body>

<header th:replace="~{fragment/header}"></header>

<section class="dorne-welcome-area bg-img bg-overlay" style="background-image: url(/images/bg-img/hero-1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">

            <form class="mx-auto w-25 bg-blur rounded" th:object="${eventAddBindingModel}" th:method="post" th:action="@{/events/add}">

                <div th:if="${eventExist}" class="text-danger">Event with this name already exists!</div>
                <div class="form-group">
                    <div class="label-holder textCol d-flex justify-content-center">
                        <label for="name" class="h4 mb-2 text-white">Name</label>
                    </div>
                    <input th:field="*{name}" th:errorclass="bg-danger" type="text" class="form-control" id="name" name="name"/>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name error message</small>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="description" class="h4 mb-2">Description</label>
                    </div>
                    <input th:field="*{description}" th:errorclass="bg-danger" type="text" class="form-control" id="description" name="description"/>
                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Description error message</small>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="dayAndTime" class="h4 mb-2">Date and Time</label>
                    </div>
                    <input th:field="*{dayAndTime}" th:errorclass="bg-danger" type="datetime-local" class="form-control" id="dayAndTime" name="dayAndTime"/>
                    <small th:if="${#fields.hasErrors('dayAndTime')}" th:errors="*{dayAndTime}" class="text-danger">DayAndTime link error message</small>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="imgUrl" class="h4 mb-2">Image URL</label>
                    </div>
                    <input th:field="*{imgUrl}" th:errorclass="bg-danger" type="url" class="form-control" id="imgUrl" name="imgUrl"/>
                    <small th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}" class="text-danger">Image link error message</small>
                </div>

                <div class="form-group">
                    <div class="text-white label-holder d-flex justify-content-center">
                        <label for="destination" class="h4 mb-2">Destination</label>
                    </div>
                    <select th:field="*{destination}" th:errorclass="bg-danger" class="browser-default custom-select" id="destination" name="destination">
                        <option value="">Select destination</option>
                        <option th:each="d : ${destinations}"
                                th:text="${d.name}" th:value="${d.name}">Destination</option>
                    </select>

                    <small th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}" class="text-danger">Destination error message</small>
                </div>

                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning  mb-3" value="Register">Add Event</button>
                </div>

            </form>

        </div>
    </div>



    <div class="hero-social-btn">
        <div class="social-title d-flex align-items-center">
            <h6>Follow us on Social Media</h6>
            <span></span>
        </div>
        <div class="social-btns">
            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
            <a href="https://www.twitter.com/"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
            <a href="https://www.fa-facebook.com/"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
        </div>
    </div>

</section>

<footer th:replace="~{fragment/footer}"></footer>

</body>
</html>