<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head}"></head>
<body>


<div id="preloader">
    <div class="dorne-load"></div>
</div>


<header th:replace="~{fragment/header}"></header>

<!--<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/hero-1.jpg)"></div>-->

<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50" style="background-image: url(/images/bg-img/hero-3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>ALL EVENTS</h4>
                    <p>------</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:each="e : ${events}" th:object="${e}"class="col-12 col-lg-6">
                <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                    <div class="feature-events-thumb">
                        <img th:src="*{imgUrl}" alt>
                        <div class="date-map-area d-flex">
                            <a href="#"><span th:text="*{#temporals.format(dayAndTime, 'dd/MM HH:mm')}">Date And Time</span></a>
                        </div>
                    </div>
                    <div class="feature-events-content">
                        <h5><span th:text="*{name}">Name</span></h5>
                        <h6><span th:text="*{destination.name}">Destination</span></h6>
                        <p><span th:text="*{description}">Description</span></p>
                    </div>
                    <div class="feature-events-details-btn">
                        <a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                    <div class="feature-events-thumb">
                        <img src="https://preview.colorlib.com/theme/dorne/img/bg-img/event-1.jpg.webp" alt>
                        <div class="date-map-area d-flex">
                            <a href="#">26 Nov</a>
                        </div>
                    </div>
                    <div class="feature-events-content">
                        <h5>Jazz Concert</h5>
                        <h6>Manhathan</h6>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra...</p>
                    </div>
                    <div class="feature-events-details-btn">
                        <a href="#">+</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<footer th:replace="~{fragment/footer}"></footer>

</body>
</html>