<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head}"></head>
<body>


<div id="preloader">
  <div class="dorne-load"></div>
</div>


<header th:replace="~{fragment/header}"></header>

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/hero-3.jpg)"></div>

<section class="dorne-listing-destinations-area section-padding-100-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading dark text-center">
          <span></span>
          <h4>ALL FITNESS</h4>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row">

      <div th:each="f : ${fitness}" th:object="${f}" class="col-12 col-sm-6 col-lg-4">
        <div class="single-features-area mb-50">
          <img th:src="*{imgUrl}" alt>

          <div class="price-start">
            <p><i class="fa fa-star-o" aria-hidden="true"></i><span th:text="*{rating}">Rating</span></p>
          </div>
          <div class="feature-content d-flex align-items-center justify-content-between">
            <div class="feature-title">
              <h5><span th:text="*{name}">Name</span></h5>
              <p><span th:text="*{destination.name}">Name</span></p>

            </div>
            <div class="feature-favourite">
              <a th:href="@{/listings/{id}(id = *{id})}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></i></a>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="col-12 col-sm-6 col-lg-4">
        <div class="single-features-area mb-50">
          <img src="https://preview.colorlib.com/theme/dorne/img/bg-img/feature-1.jpg" alt>

          <div class="price-start">
            <p>FROM $59/night</p>
          </div>
          <div class="feature-content d-flex align-items-center justify-content-between">
            <div class="feature-title">
              <h5>Paris</h5>
              <p>Luxury</p>
            </div>
            <div class="feature-favourite">
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>



<footer th:replace="~{fragment/footer}"></footer>

</body>
</html>